@import url('https://fonts.googleapis.com/css2?family=Rubik+Bubbles&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap');

body{
    background-color: #323131;
    background-repeat: no-repeat;
    background-position: top left;
    background-attachment: fixed;
}
p{
    text-align: center;
    font-family: 'Rubik Bubbles', cursive;
    font-size: 48px;
    font-style: normal;
    font-weight: normal;
    color: #ffffff;
}

img{
    width: 100%;
    max-width: 500px;
    min-width: 500px;
    max-height: 400px;
    min-height: 400px;
}

.copyright{
    font-family: 'Kanit', sans-serif;
    font-size: 30px;
    text-align: left;
    position: sticky;
    bottom: 0;
    height: 10px;
    margin-bottom: 5px;
}

#link_to{
    color: rgb(25, 224, 25);
    text-decoration: none;
}

#link_to:visited{
    color: rgb(24, 147, 24);
    text-decoration: none;
}

#link_to:hover{
    color: #105e03;
}