@import url('https://fonts.googleapis.com/css2?family=Rubik+Bubbles&display=swap');

body{
    background-color: #323131;
    background-repeat: no-repeat;
    background-position: top left;
    background-attachment: fixed;
}
p{
    text-align: center;
    font-family: 'Rubik Bubbles', cursive;
    font-size: 48px;
    font-style: normal;
    font-weight: normal;
    color: #ffffff;
}

img{
    width: 100%;
    max-width: 500px;
    max-height: 400px;
}