<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="refresh" content="30" />
    <title>DGmemes</title>
</head>
<style>
    body{
        background-color: #000000;
        background-repeat: no-repeat;
        background-position: top left;
        background-attachment: fixed;
    }
    p{
        text-align: center;
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size: 48px;
        font-style: normal;
        font-weight: normal;
        color: #ffffff;
        background-color: black;
    }
</style>
<body>
    <h1>Welcome to DG's meme website</h1>
    <p>This website has been made using python flask</p>
    <p>Here is your meme</p>
    <p><img src="{{meme_pic}}" alt=""></p>
    <p>Subreddit: {{subreddit}}</p>
</body>
</html>